<template name="tentangLamongan">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Tentang Lamongan</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}

  <div class="item">
    <h2>Sejarah Lamongan</h2>
  </div>

  <a class="item assertive">
    <div class="item item-image">
    <img src="Lamongan.jpg">
    </div>
  </a>
    <p>Nama Lamongan berasal dari nama seorang tokoh pada masa silam. Pada zaman dulu, ada seorang pemuda bernama Hadi, karena mendapatkan pangkat rangga, maka ia disebut Ranggahadi. Ranggahadi kemudian bernama Mbah Lamong, yaitu sebutan yang diberikan oleh rakyat daerah ini. Karena Ranggahadi pandai Ngemong Rakyat, pandai membina daerah dan mahir menyebarkan ajaran agama Islam serta dicintai oleh seluruh rakyatnya, dari asal kata Mbah Lamong inilah kawasan ini lalu disebut Lamongan.</p>
  

    {{/ionContent}}
    
  {{/ionView}}

</template>
